<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://option1.io/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>/9Z6O+rHM0W5pNKBoDZFUn8e6rMLZk4jGmCjlusPG7c=</string>
</dict>
</plist>
